Package: com.niftyuwu.slidetouwu
Name: slidetouwu
Version: 0.0.1
Architecture: iphoneos-arm
Description: Changes iOS 6 slide to unlock text to slide to uwu :33
Maintainer: niftyuwu
Author: niftyuwu
Section: Tweaks
Depends: mobilesubstrate
